doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= subject

        include _style

        body
            table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
                tbody
                    tr
                        td
                        td.container
                            .content
                            // START CENTERED WHITE CONTAINER
                            table.main(role='presentation')

                                // START MAIN AREA
                                tbody
                                tr
                                    td.wrapper
                                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                            tbody
                                                tr
                                                    td
                                                        // CONTENT
                                                        block content

                            // START FOOTER
                            .footer
                                img(src="http://127.0.0.1:8001/uploads/images/Freshcart.png" alt="Company Logo")
                                p &copy; 2024 Freshcart. All rights reserved.
                                p Freshcart Inc, East college para, Raniganj 2024
                                p 
                                a(href="mailto:testm0365@gmail.com") support@Freshcart.com
                                p
                                | Don't like these emails?
                                a(href="{{#}}") Unsubscribe